@import "../styles/common/variables.scss";
@import "../styles/common/mixins.scss";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $ThemeColor;
  color: $lightSlate;
  font-family: $PrimaryFont;
  font-size: $xl;
  line-height: 1.3;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  --bar-width: 30px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: $transition;
  &:hover,
  &:focus {
    color: $PrimaryColor;
  }
}
// .blur{
//   filter: blur(4px); /* Adjust the blur intensity as needed */
// }
li {
  list-style-type: none;
}

section {
  padding: 100px 0;
  margin: 0px auto;
  max-width: 900px;
}

.mainContainer {
  padding: 0 20vw;
  @media (max-width: 1080px) {
    padding: 0 100px;
  }
  @media (max-width: 768px) {
    padding: 0 50px;
  }
}

p {
  margin: 0px 0px 15px;
  color: $slate;
  font-size: $lr;
}

.blur {
  filter: blur(4px);
  transition: $SideBarTransition;
}
// .overline {
//   color: $PrimaryColor;
//   font-family: $SecondaryFont;
//   font-size: $md;
//   font-weight: 400;
// }
