@import "../styles/common/variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html,
body {
  // background-image: url("../assets/shutterstock_359492192.webp");
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: $ThemeColor;
  color: $PrimaryColor;
  font-family: "Open Sans";

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root{
  --bar-width: 30px;
}

a{
  color: inherit;
  transition: $transition;

  // &:hover,
  // &:focus{
  //   color: $PrimaryColor;
  // }
}
// .blur{
//   filter: blur(4px); /* Adjust the blur intensity as needed */
// }