@import "../common/variables.scss";
@import "../common/mixins.scss";
.footerContainer {
  @include flexCenter;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  .footerSocialLinks {
    display: none;

    @media (max-width: 768px) {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 0 auto 10px;
      color: $lightSlate;
    }

    ul {
      @include flexCenter;
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        padding: 10px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .footerCredit {
    color: $lightSlate;
    font-family: $SecondaryFont;
    font-size: $xxs;
    line-height: 1;

    a {
      padding: 10px;
    }

    .footerGithubStats {
      margin-top: 10px;

      & > span {
        display: inline-flex;
        align-items: center;
        margin: 0 7px;
      }
      svg {
        display: inline-block;
        margin-right: 5px;
        width: 14px;
        height: 14px;
      }
    }
  }
}
