@import "../common/variables.scss";
.sections {
  counter-reset: section 0;
  .numberedHeading {
    // display: flex;
    // align-items: center;
    position: relative;
    margin: 10px 0 40px;
    width: 100%;
    font-family: $PrimaryFont;
    color: $lightestSlate;
    font-weight: 600;
    font-size: clamp(26px, 2.5vw, $fzHeading);
    white-space: nowrap;
    color: $SecondaryColor;
    counter-increment: section 1;

    &:before {
      position: relative;
      //   bottom: 4px;

      content: "0" counter(section) ".";
      margin-right: 10px;
      color: $PrimaryColor;
      font-family: $fontMono;
      font-size: 25px;
      font-weight: 400;

      @media (max-width: 480px) {
        margin-bottom: -3px;
        margin-right: 5px;
      }
    }

    &:after {
      content: "";
      display: block;
      position: relative;
      bottom: -2px;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: $lightNavy;

      @media (max-width: 1080px) {
        width: 200px;
      }
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        margin-left: 10px;
      }
    }
  }
}

//     ABOUT SECTION
.aboutContainer {
  max-width: 900px;
  .workedCompanies {
    color: $PrimaryColor;
    transition: $transition;
    text-decoration: none;
  }
  .aboutInner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
    @media (max-width: 768px) {
      display: block;
    }
  }
}

ul.skillsList {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  grid-gap: 0 10px;
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: $fontMono;
    font-size: $sm;

    &:before {
      content: "▹";
      position: absolute;
      left: 0;
      color: $PrimaryColor;
      font-size: $sm;
      line-height: 12px;
    }
  }
}
.styledPic {
  position: relative;
  width: 90%;
  z-index: 2;
  @media (max-width: 768px) {
    margin: 50px auto 0;
    width: 60%;
  }

  .wrapper {
    box-shadow: 0 10px 30px -15px $navyShadow;
    transition: $transition;
    &:hover,
    &:focus-visible {
      box-shadow: 0 20px 30px -15px $navyShadow;
    }
    display: flex;
    position: relative;
    width: 100%;
    border-radius: $borderRadius;
    background-color: $PrimaryColor;

    .MyImage {
      width: 100%;
      position: relative;
      border-radius: $borderRadius;
      mix-blend-mode: multiply;
      filter: grayscale(100%) contrast(1);
      transition: $transition;
      z-index: 1;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $borderRadius;
      transition: $transition;
    }

    &:before {
      top: 0;
      left: 0;
      background-color: $navy;
      mix-blend-mode: screen;
    }

    &:after {
      border: 2px solid $PrimaryColor;
      top: 20px;
      left: 20px;
      z-index: -1;
    }

    &:hover,
    &:focus {
      outline: 0;
      //   transform: translate(-4px, -4px);

      &:after {
        // transform: translate(8px, 8px);
        top: 15px;
        left: 15px;
      }

      .MyImage {
        filter: none;
        mix-blend-mode: normal;
      }
    }
  }
}

// JOBS SECTION
.jobContainer {
  max-width: 900px;
  .jobInner {
    display: flex;

    @media (max-width: 600px) {
      display: block;
    }

    @media (min-width: 700px) {
      min-height: 340px;
    }
  }
  .styledTabList {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: 600px) {
      display: flex;
      overflow-x: auto;
      width: calc(100% + 100px);
      padding-left: 50px;
      margin-left: -50px;
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      width: calc(100% + 50px);
      padding-left: 25px;
      margin-left: -25px;
    }

    li {
      &:first-of-type {
        @media (max-width: 600px) {
          margin-left: 50px;
        }
        @media (max-width: 480px) {
          margin-left: 25px;
        }
      }
      &:last-of-type {
        @media (max-width: 600px) {
          padding-right: 50px;
        }
        @media (max-width: 480px) {
          padding-right: 25px;
        }
      }
    }
  }

  .styledTabButton {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: $transition;
    border: none;
    &:hover,
    &:focus-visible {
      color: $PrimaryColor;
      outline: 0;
    }
    display: flex;
    align-items: center;
    width: 100%;
    height: $tabHeight;
    padding: 0 25px 2px;
    border-left: 2px solid $lightestNavy;
    background-color: transparent;
    color: $slate;
    font-family: $SecondaryFont;
    font-size: $md;
    text-align: left;
    white-space: nowrap;

    @media (max-width: 768px) {
      padding: 0 20px 2px;
    }
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-item: center;
      min-width: 100px;
      padding: 0 15px;
      border-left: 0;
      border-bottom: 2px solid $lightestNavy;
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: $lightNavy;
    }
  }
  .isActiveTabButton {
    color: $PrimaryColor;
    border-left: 2px solid $PrimaryColor !important;
    @media (max-width: 600px) {
      border-left: none !important;
      border-top: 2px solid $PrimaryColor !important;
    }
  }
  .firstActiveButton {
    color: $PrimaryColor;
    background-color: $lightNavy;
  }
}

.styledTabPanels {
  position: relative;
  width: 100%;
  margin-left: 40px;

  @media (max-width: 600px) {
    margin-left: 0;
  }

  .styledTabPanel {
    width: 100%;
    height: auto;
    padding: 0px 5px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: $lr;
      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        &:before {
          content: "▹";
          position: absolute;
          left: 0;
          color: $PrimaryColor;
        }
      }
    }

    h3 {
      margin-bottom: 10px;
      font-size: $xxl;
      font-weight: 500;
      line-height: 1.3;
      .title {
        color: $lightestSlate;
      }
      .company {
        color: $PrimaryColor !important;
      }
    }
    .range {
      color: $lightSlate;
      margin-bottom: 25px;
      font-family: $SecondaryFont;
      font-size: $xs;
    }
    .location {
      margin-left: 25px;
      color: $lightSlate;
      font-family: $SecondaryFont;
      font-size: $xs;
    }
  }
  .notVisible {
    display: none;
  }
}
