@import "../common/variables.scss";
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  height: $navHeight;
  z-index: 11;
  backdrop-filter: blur(10px);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  .NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: $SecondaryFont;

    .LogoImage {
      padding: 1rem 0 0 1rem;
    }
    .headerNav {
      display: flex;
      align-items: center;
      counter-reset: item 0;
      
      .NavList {
        display: inline;
        counter-increment: item 1;
        list-style: none;
      }
      .link {
        padding: 0 10px 0 10px;
        text-decoration: none;
        color: $SecondaryColor;
      }
      .link::before {
        content: "0" counter(item) ". ";
        color: $PrimaryColor;
      }
    }
  }
  .resume {
    .resumeButton {
      color: $PrimaryColor;
      text-decoration: none;
      border: 1px solid $PrimaryColor;
      padding: 0.75rem 1rem;
      margin-left: 15px;
      font-size: 15px;
      border-radius: $border-radius;
    }
  }
}
.headerContainerHidden {
  height: 70px;
  transform: translateY(-70px);
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  transition: transform 0.2s;
}


/* StyledHamburgerButton */
.StyledHamburgerButton {
  display: none;
}

@media (max-width: 768px) {
  .headerNav{
    display: none !important;
  }
  .resume{
    display: none !important;
  }


  .StyledHamburgerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }


.StyledHamburgerButton .hamBox {
  display: inline-block;
  position: relative;
  width: $hamburgerWidth;
  height: 24px;
}

.StyledHamburgerButton .hamBox .hamBoxInner {
  position: absolute;
  top: 50%;
  right: 0;
  width: $hamburgerWidth;
  height: 2px;
  border-radius: $borderRadius;
  background-color: $PrimaryColor;
  transition-duration: 0.22s;
  transition-property: transform;
  transition-delay: 0s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.StyledHamburgerButton .hamBox .hamBoxInner:before,
.StyledHamburgerButton .hamBox .hamBoxInner:after {
  content: '';
  display: block;
  position: absolute;
  left: auto;
  right: 0;
  width: $hamburgerWidth;
  height: 2px;
  border-radius: 4px;
  background-color: $PrimaryColor;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.StyledHamburgerButton .hamBox .hamBoxInner:before {
  width: 120%;
  top: -10px;
  opacity: 1;
  transition: $hamBefore;
}

.StyledHamburgerButton .hamBox .hamBoxInner:after {
  width: 120%;
  bottom: -10px;
  transform: rotate(0deg);
  transition: $hamAfter;
}

.StyledHamburgerButton.menuOpen .hamBox .hamBoxInner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.StyledHamburgerButton.menuOpen .hamBox .hamBoxInner:before {
  width: 100%;
  top: 0;
  opacity: 0;
  transition: $hamBeforeActive;
}

.StyledHamburgerButton.menuOpen .hamBox .hamBoxInner:after {
  width: 100%;
  bottom: 0;
  transform: rotate(-90deg);
  transition: $hamAfterActive;
}
}

/* StyledSidebar */
.StyledSidebar {
  display: none;
}

@media (max-width: 768px) {
  .StyledSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 50px 10px;
    width: min(75vw, 400px);
    height: 100vh;
    outline: 0;
    background-color: $ThemeColor;
    box-shadow: -10px 0px 30px -15px $menuBarColor;
    z-index: 9;
    transform: translateX(100vw);
    visibility: hidden;
    transition: $SideBarTransition;
  }

  .StyledSidebar.menuOpen{
    transform: translateX(0);
    visibility: visible;
    .body{
      transform: blur();
    }
  }
.StyledSidebar nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  color: $SecondaryColor;
  font-family: $fontMono;
  text-align: center;
}

.StyledSidebar ol {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

.StyledSidebar ol li {
  position: relative;
  margin: 0 auto 20px;
  counter-increment: item 1;
  font-size: clamp($fzSm, 4vw, $fzLg);
}

@media (max-width: 600px) {
  .StyledSidebar ol li {
    margin: 0 auto 10px;
  }
}

.StyledSidebar ol li:before {
  content: '0' counter(item) '.';
  display: block;
  margin-bottom: 5px;
  color: $PrimaryColor;
  font-size: var(--fz-sm);
}

.StyledSidebar ol li a {
  display: inline-block;
  width: 100%;
  padding: 3px 20px 20px;
  color: inherit;
  text-decoration: none;
}

.StyledSidebar .resume-link {
  display: inline-block;
  padding: 18px 50px;
  margin: 10% auto 0;
  width: max-content;
}
}